<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">
      <!--  <img src="https://image.flaticon.com/icons/svg/197/197430.svg" class="col-lg-8 col-xs-12" width="50" height="50" alt="...">
     -->
     <img src="https://image.flaticon.com/icons/svg/197/197430.svg" class="col-lg-8 col-xs-12" width="150" height="150" alt="...">
      </div>
      <div class="row">
        <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button" on-click="incrementar">cargar datos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}"/>
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Juan</td>
              <td>Gil</td>
            </tr>
            <tr>
              <td>[[prop2]]</td>
              <td>[[prop1]]</td>
              <td>Mora</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- <h2>Hello [[prop1]]!</h2> -->
    <!-- <h3>Mi valor es: [[prop2]]</h3>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            //value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'indique su login'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
